.nav-content {
  /* background-color: #6e7780;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%; */
  background-color: #6e7780;
  padding: 50px 0;
}

/* 大項目 */
.major_item{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

/*項目全体*/
.content_main_div{
  margin: 50px 0 0;
}

/* 中項目 */
h3{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}

/* 各項目 */
.small_item{
  margin: 20px 0 0 0;
}

.nav-inner-text{
  align-items: normal;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  color: #fff;
  font-size: 15px;
  text-decoration: underline;
}

.item_div{
  box-sizing: border-box;
  padding: 0 0 0 50px;
  width: 25%;
}

.btn-inq-usefullinfo{
  align-items: center;
  background-color:#fff;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0;
  min-height: 34px;
  width: 146px;
}

.btn-inq--ttl{
  color: #333;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

/* nav画像部分 */
.imag-inner-div{
align-items: normal;
display: flex;
justify-content: center;
margin: 50px 0 0;
}

.content_imag_item_div{
  display: block;
  margin: 0 0 0 28px;
  width: 210px;
}

.content_imag_item_div figcaption {
  color: #fff;
    display: block;
    font-size: 14px;
    margin: 15px 0 0;
}

figure{
  margin: 0;
}

img{
  vertical-align: top;
  border: 0;
}