li{
  list-style-type: none;
}

.shop-name-h3{
  color:#008042;
  background-color: #e5f5ea;
  border-top: 3px solid #008b4f;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: lighter;
  margin:0;
  /* display: flex;
  width: 80%; */
} 

/* ショップ全体 */
.shop-info-div{
  margin-bottom: 15px;
}


.shop-info-inner-div{
  display: flex;
  width: 100%;
  table-layout: fixed;
  position: relative;
}

.shop-info-img_div{
  display: table-cell;
  width: 400px;
  vertical-align: top;
  background: #e1e1e1;
  margin-bottom: px;
}

.shop-info-img{
  height:300px;
  width:400px;
}

.shop-info-text_div{
  display: table-cell;
  width: 590px;
  height: 341px; 
  padding: 20px 20px 30px;
  background: #f0f0f0;
  vertical-align: top;
}
.shop-info-text{
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* ショップデータ部分 */
.shop-info-detail-dl > dt{
  float: left;
}

.shop-info-detail-dd{
  padding-left: 60px;
}

.closed-day{
  margin:0;
}

.temporarily_closed_comment{
  margin:0;
}

/* ボタン部分 */
.shop-info-button{
  display: block;
  justify-content:space-between;
  align-items: center;
  padding: 20px 30px 0px;
  background-color: #e4dece;;
}


.stock-button{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: #1abc9c;
  margin-bottom: 20px;
  border-radius: 5px;
}

.reservation-button{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 80px;
  background-color: #eb0000;;
  margin-bottom: 20px;
  border-radius: 5px;
}

.banner-img{
  height: 178px;
  width: 180px;
  margin-bottom: 20px;
}