li{
  list-style-type: none;
}

.shop-name-h3{
  color:#008042;
  background-color: #e5f5ea;
  border-top: 3px solid #008b4f;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: lighter;
  margin:0;
  /* display: flex;
  width: 80%; */
} 

/* ショップ全体 */
.shop-info-div{
  margin-bottom: 15px;
}


.shop-info-inner-div{
  display: flex;
  width: 100%;
  table-layout: fixed;
  position: relative;
}

.shop-info-img_div{
  display: table-cell;
  width: 400px;
  vertical-align: top;
  background: #e1e1e1;
  margin-bottom: px;
}

.shop-info-img{
  height:300px;
  width:400px;
}

.shop-info-text_div{
  display: table-cell;
  width: 590px;
  height: 341px; 
  padding: 20px 20px 30px;
  background: #f0f0f0;
  vertical-align: top;
}
.shop-info-text{
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* ショップデータ部分 */
.shop-info-detail-dl > dt{
  float: left;
}

.shop-info-detail-dd{
  padding-left: 60px;
  margin-top: 10px;
}

dt{
  margin-top: 6px;
}

.shop-info-detail-dd-zero,.shop-info-detail-dd-first{
  display: flex;
  justify-content: left;
}

.shop-info-detail-dd-first{
  padding-left: 40px;
}

.free-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #de5514;
  font-size: 10px;
  margin-left: 30px;
  border: solid 2px #de5514;
  border-radius: 4px;
  width: 30px;
  height: 15px;
}

.look-map{
display: flex;
justify-content: center;
align-items: center;
font-size: 12px;
color: #ffffff;
margin-left: 30px;
background-color: #1abc9c;
border-radius: 2px;
width: 80px;
height: 30px;
}

.shop-info-detail-dd-third,.open-day{
  color:#0082a0;
}


.closed-day{
  margin:0;
}

.temporarily_closed_comment{
  margin:0;
}

.label-ul{
display: flex;
justify-content: left;
}

.label-li{
  font-size: 11px;
  margin-left: 10px;
  padding: 2px 5px;
  background-color: #b2d8c4;
  border-radius: 4px;
}

/* ボタン部分 */
.shop-info-button{
  display: block;
  justify-content:space-between;
  align-items: center;
  padding: 20px 30px 0px;
  background-color: #e4dece;;
}


.stock-button{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: #1abc9c;
  margin-bottom: 20px;
  border-radius: 5px;
}

.reservation-button{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 80px;
  background-color: #eb0000;;
  margin-bottom: 20px;
  border-radius: 5px;
}

.banner-img{
  height: 178px;
  width: 180px;
  margin-bottom: 20px;
}